<header class="contenedor2">
    <div class="container">
      <nav>
        <label class="logo"><i class="fas fa-tooth"></i> Dental</label>
        <ul class="menu_items">
          <li class="active"><a [routerLink]="'/inicio'">Inicio</a></li>
          <li><a  [routerLink]="'/inicio/servicios'">Productos & Servicios</a></li>
          <li><a href="#footer-contenedor">Contactanos</a></li>
          <li><a [routerLink]="'/auth'">Iniciar sesion</a></li>
          <div class="dropdown">
            <button class="dropbtn">
              <i class="far fa-user icon"></i>   
           </button>
            <div class="dropdown-content">
            <li><a [routerLink]= "'miCuenta'">Mi Cuenta</a></li>
            <li><a [routerLink]="'/auth'">Cerrar sesion</a></li>
        </div>
        </div>
        </ul>
        <span class="btn_menu">
          <i class="fa-solid fa-bars"></i>
        </span>
      </nav>
    </div>
</header>
<h1 class="tittleC">Mi Cuenta: <span class="nameS"> Jose Armando Carrillo</span> </h1>
 
 <div class="container">
    <!-- categorias Materiales -->
    <div class="trabajos_grid_Materiales">
      <article class="trabajos_items">
        <a href="/productos.html">
          <img
          src="assets/micuenta/pexels-anete-lusina-4792284.jpg"
          class="trabajos_img"
          />
          <div class="trabajos_hover">
            <h2 class="trabajos_titulo">Historial</h2>
            <p>Consultar el Historial de compras, Estado de tu orden actual , Ver facturas </p>
          </div>
        </a>
      </article>


      <article class="trabajos_items">
        <a href="/productos.html">
          <img
            src="assets/micuenta/compras.jpeg"
            class="trabajos_img"
          />
          <div class="trabajos_hover">
            <h2 class="trabajos_titulo">Compras</h2>
            <p>Ver tus compras, Eliminar productos , Realizar Compra</p>
          </div>
        </a>
      </article>

      <article class="trabajos_items">
        <a href="/productos.html">
          <img
            src="assets/micuenta/pexels-cup-of-couple-6177572.jpg"
            class="trabajos_img"
          />
          <div class="trabajos_hover">
            <h2 class="trabajos_titulo">Cuenta</h2>
            <p>Actualizar datos de tu cuenta , Inicio de sesion , datos bancarios</p>
          </div>
        </a>
      </article>
   </div>
</div>