
  <nav>
    <label [routerLink]="'/inicio'" class="logo"><i class="fas fa-tooth" ></i>Dental</label>

   <ul class="menu_items">
      <li>
        <a class="nav-link active" aria-current="page" [routerLink]="'/admin/inicio'">Home</a>
      </li>
      <li>
        <a class="nav-link" [routerLink]="'/admin/productos'">Productos</a>
      </li>
      <li>
        <a class="nav-link"  [routerLink]="'/admin/categorias'">Categorias</a>
      </li>
      <li>
        <a class="nav-link"  [routerLink]="'/admin/usuarios'">Usuarios</a>
      </li>
      <li>
        <a  class="nav-link" (click)="cerrarSesion()" [routerLink]="'/auth'">Cerrar Sesión</a>
      </li>
      
    </ul> 
 
  </nav>




  <div class="contenedorPrincipalA">
      <div class="container">

  
        <div class="card-content">

          <div class="card">
            <div class="info">
              <h3>ID.- <span>Nombre: </span></h3><br>
              <h4>Producto Comprado:</h4>
              <h3><span>Precio: </span></h3><br>
              <h4>Direccion de envio: </h4> <br>
              <h5>Datos referentes de cliente: <br> Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
         
              <br><br/>
             <div class="conf">
              <button class="btnMod aceptar" type="button">Aceptar</button> 
              <button class="btnMod rechazar" type="button">Rechazar</button> 
            </div>
            </div>
          </div>


          <div class="card">
            <div class="info">
              <h3>ID.- <span>Nombre: </span></h3><br>
              <h4>Producto Comprado:</h4>
              <h3><span>Precio: </span></h3><br>
              <h4>Direccion de envio: </h4> <br>
              <h5>Datos referentes de cliente: <br> Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
         
              <br><br/>
             <div class="conf">
              <button class="btnMod aceptar" type="button">Aceptar</button> 
              <button class="btnMod rechazar" type="button">Rechazar</button> 
            </div>
            </div>
          </div>

          
      </div>
    </div>
 