<form class="formulario" [formGroup]="loginForm" autocomplete="off" (ngSubmit)="login()">
  <h1>Iniciar sesion</h1>
  <span errorMsg [mensaje]="mensajeEmail()" *ngIf="campoEsValido('email')" class="form-control-text" style="color:red"></span>

  <div class="input-contenedor">
    <i class="fa-solid fa-message icon"></i>
    <input  formControlName="email" type="text" placeholder="Correo Electronico" />
  </div>

  

  <div class="input-contenedor">
    <i class="fa-solid fa-key icon"></i>
    <input formControlName="password"type="password" placeholder="Contraseña" />
  </div>
  <button  type="submit" class="button" >Login</button>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum,
    voluptatibus?
  </p>
  <hr />
  <p>
    Lorem ipsum dolor sit amet.
    <a class="link" [routerLink]="'/auth/registro'">Registrate</a>
  </p>
</form>
