<form class="formulario">
  <h1>Iniciar sesion</h1>

  <div class="input-contenedor">
    <i class="fa-solid fa-message icon"></i>
    <input type="text" placeholder="Correo Electronico" />
  </div>

  <div class="input-contenedor">
    <i class="fa-solid fa-key icon"></i>
    <input type="password" placeholder="Contraseña" />
  </div>
  <input type="submit" value="Login" class="button" />
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum,
    voluptatibus?
  </p>
  <hr />
  <p>
    Lorem ipsum dolor sit amet.
    <a class="link" [routerLink]="'/auth/registro'">Registrate</a>
  </p>
</form>
