<form class="formulario">
    <h1>Registrate</h1>
    <div class="contenedor">
      
      <div class="input-contenedor">
        <i class="fa-solid fa-user icon"></i>
        <input type="text" placeholder="Nombre Completo" />
      </div>

      <div class="input-contenedor">
        <i class="fa-solid fa-location-dot icon"></i>
        <input type="text" placeholder="Direccion" />
      </div>

      <div class="input-contenedor">
        <i class="fa-solid fa-city icon"></i>
        <input type="text" placeholder="Ciudad" />
      </div>

      <div class="input-contenedor">
        <i class="fa-solid fa-inbox icon"></i>      
      <input type="text" placeholder="Codigo Postal" />
      </div>


      <div class="input-contenedor">
        <i class="fa-solid fa-message icon"></i>
        <input type="text" placeholder="Correo Electronico" />
      </div>

      <div class="input-contenedor">
        <i class="fa-solid fa-key icon"></i>
        <input type="password" placeholder="Contraseña" />
      </div>

      <div class="input-contenedor">
        <i class="fa-solid fa-key icon"></i>
        <input type="password" placeholder="Confirmar Contraseña" />
      </div>

      <div class="input-contenedor">
        <i class="fa-solid fa-address-card icon"></i>    
              <input type="text" placeholder="Rfc" />
      </div>

      <input type="submit" value="Registrate" class="button">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum, voluptatibus?</p>
      <hr>
      <p>Lorem ipsum dolor sit amet. <a class="link"[routerLink]="'auth'">Iniciar sesion</a></p>
    </div>
  </form>