
<app-navbar></app-navbar>

<app-loading *ngIf="loading"></app-loading>
<div class="contenedorServ">
<section *ngIf="!loading" class="trabajos">
  <div class="container">
    <!-- categorias Servicios -->
    <h2 class="subtitle">Categorias - Servicios</h2>
    <div class="trabajos_grid">

      <article *ngFor="let categoria of categorias" class="trabajos_items">
        <a (click)="obtenerIdCategoriaActual(categoria.id)" [routerLink]="['/inicio/servicios/categorias',sha(categoria.id)]">    
            <img  [src]="categoria.imagen"  class="trabajos_img"/>
          <div class="trabajos_hover">
            <h2 class="trabajos_titulo">{{categoria.nombre}}</h2>
          </div>
        </a>
      </article>

     
    </div>
  </div>

  <div class="container">
    <!-- categorias Materiales -->
    <h2 class="subtitle">Categorias - Materiales</h2>
    <div class="trabajos_grid_Materiales">
      <article class="trabajos_items">
        <a href="/productos.html">
          <img
            src="assets/Products&Services/pexels-ivan-babydov-7788511.jpg"
            class="trabajos_img"
          />
          <div class="trabajos_hover">
            <h2 class="trabajos_titulo">Instrumental</h2>
          </div>
        </a>
      </article>

      <article class="trabajos_items">
        <a href="productos.html">
          <img
            src="assets/Products&Services/pexels-ivan-babydov-7788506.jpg"
            class="trabajos_img"
          />
          <div class="trabajos_hover">
            <h2 class="trabajos_titulo">Ortodoncia</h2>
          </div>
        </a>
      </article>

      <article class="trabajos_items">
        <a href="productos.html">
          <img
            src="assets/Products&Services/img3.jpg"
            class="trabajos_img"
          />
          <div class="trabajos_hover">
            <h2 class="trabajos_titulo">Material para Impresion</h2>
          </div>
        </a>
      </article>

      <article class="trabajos_items">
        <a href="productos.html">
          <img
            src="assets/Products&Services/img4.jpg"
            class="trabajos_img"
          />
          <div class="trabajos_hover">
            <h2 class="trabajos_titulo">Material para provisionales</h2>
          </div>
        </a>
      </article>
    </div>
  </div>
</section>
</div>