<header class="contenedor2">
  <div class="container">
    <nav>
      <label class="logo"><i class="fas fa-tooth"></i>Dental</label>
      <ul class="menu_items">
        <li class="active"><a [routerLink]="'inicio'">Inicio </a></li>
        <li><a>Productos & Servicios</a></li>
        <li><a href="#footer-contenedor">Contactanos</a></li>
        <li *ngIf="modelo.rol==='' || modelo.rol===undefined"><a [routerLink]="'/auth'">Iniciar sesion</a></li>
        <li *ngIf="modelo.rol==='Usuario' || modelo.rol==='Admin'"><a>Bienvenido {{getNombre()}}</a></li>
        <div *ngIf="modelo.rol==='Usuario' || modelo.rol==='Admin'" class="dropdown">
          <button class="dropbtn">
            <i class="far fa-user icon"></i>   
         </button>
          <div class="dropdown-content">
          <li><a [routerLink]= "'miCuenta'">Mi Cuenta</a></li>
          <li><a (click)="cerrarSesion()" [routerLink]="'/auth'">Cerrar sesion</a></li>
      </div>
    </div>
      </ul>
      <span (click)="abrirMenu()" class="btn_menu">
        <i class="fas fa-bars"></i>
      </span>
    </nav>
  </div>
</header>
<app-loading *ngIf="loading"></app-loading>
<section *ngIf="!loading" class="container" style="position: relative; bottom: 35px">
  <div>
    <section>
      <div class="producto">
        <h2 style="text-align: center">Categoria - {{categoriaActual.nombre}}</h2>
        <hr>
        <br>
        <h4 style="text-align: center"><span>{{categoriaActual.descripcion}}</span></h4>
       
        <br />

        <div class="contenedor-breadcrumb">
          <ol class="breadcrumb">
            <li>
              <a (click)="volverAtras()">Categorias</a>
            </li>
          </ol>
          <br />
        </div>
        <hr />

        <div class="container-content">
          
          <div  class="card-content">
            
              <div *ngFor="let producto of productos" class="card"> 
                <img [src]="producto.imagen" >
                <a (click)="router(producto.id)">
                <h3 style="text-align: center; color: white">
                  {{producto.productoNombre}}
                </h3>
                <p style="text-align: center; color: white">Precio: ${{producto.precio}}</p>
                <div class="info">
                  <h3>Descripcion</h3>
                  <p>
                    {{producto.descripcion}}
                  </p>
                </div>
              </a>
              </div>  
              
          </div>
        </div>


      </div>
    </section>
  </div>
</section>
