<header class="contenedor2">
    <div class="container">
        <nav>
            <label class="logo"><i class="fas fa-tooth"></i>Dental</label>
            <ul class="menu_items">
              <li class="active"><a [routerLink]="'inicio'">Inicio </a></li>
              <li><a>Productos & Servicios</a></li>
              <li><a href="#footer-contenedor">Contactanos</a></li>
              <li *ngIf="modelo.rol==='' || modelo.rol===undefined"><a [routerLink]="'/auth'">Iniciar sesion</a></li>
              <li *ngIf="modelo.rol==='Usuario' || modelo.rol==='Admin'"><a>Bienvenido {{getNombre()}}</a></li>
              <div *ngIf="modelo.rol==='Usuario' || modelo.rol==='Admin'" class="dropdown">
                <button class="dropbtn">
                  <i class="far fa-user icon"></i>   
               </button>
                <div class="dropdown-content">
                    <li><a [routerLink]= "'/inicio/miCuenta'">Mi Cuenta</a></li>
                <li><a (click)="cerrarSesion()" [routerLink]="'/auth'">Cerrar sesion</a></li>
            </div>
          </div>
            </ul>
            <span (click)="abrirMenu()" class="btn_menu">
                <i class="fas fa-bars"></i>
            </span>
          </nav>
    </div>



</header>
<app-loading *ngIf="loading"></app-loading>
<section *ngIf="!loading" class="container">
    <div>
        <section>
            <div class="contenedor-breadcrumb">
                <ol class="breadcrumb">
                    <li><a (click)="volverAtras()">Categorias</a></li>
                    <li><a href="#">Producto</a></li>
                </ol>
                <br><br><br />
            </div>

            <div class="producto">
                <h2>Nombre del producto: {{productoActual.productoNombre}} </h2>
                <p>Codigo del producto: {{sha(productoActual.id)}}</p><br />
                <hr />
                <div class="container-products">
                    <div class="card-content">
                        <div class="card">
                        <img [src]="productoActual.imagen">
                          
                        </div>
                    </div>

                    <div class="text">
                        <div class="info">
                            <h2>Precio del producto:$ {{productoActual.precio}}</h2>
                            <br>
                            <p><span>Estatus del producto:</span> Disponible</p>
                            <br>
                            <hr>
                            <br>
                            <p><span>Descripcion del producto:</span><br><br /> {{productoActual.descripcion}}</p>
                            <br>
                            <hr>
                            <br>
                            <p><span>Categoria del producto:</span><br><br /> {{productoActual.categorias[0].nombre}}</p>
                            <br>
                            <button class="button-3" role="button">Añadir a tu orden</button>
                        </div>
                    </div>
                    <!-- HTML !-->
                 


                </div>
            </div>
        </section>
    </div>
 </section>