<footer>
    <div id="footer-contenedor">
      <h3>Deposito Dental</h3>
      <p>Nuestras Redes Sociales</p>
      <ul class="redes_sociales">
        <li>
          <a href="#"> <i class="fab fa-facebook"></i></a>
        </li>
        <li>
          <a href="#"><i class="fab fa-whatsapp"></i></a>
        </li>
        <li>
          <a href="#"> <i class="fab fa-twitter"></i></a>
        </li>
        <li>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </li>
        
      </ul>
    </div>
    <div class="footer_copy">
      <p>
        copyright &copy;2020 DepositoDental . designed by
        <span>Ing.system</span>
      </p>
    </div>
  </footer>