<app-navbar></app-navbar>
<div class="contenedorUserConfig">
    <section class="contenedor">
      <div class="contenedor-breadcrumb">
        <ol class="breadcrumb">
          <li><a href="#">Mi Cuenta</a></li>
          <li><a href="#">Inicio de sesion y seguirdad</a></li>
        </ol>
      </div>
    </section>
  
    <div class="contenedorTable">
        <h1>Inicio de Sesion y Seguridad</h1>
      <div class="table">
        <div class="Datos">
          <h3>Nombre:</h3>
          <p>Jose</p>
        </div>
  
        <div class="btnMove">
            <button class="button-3">Modificar</button>
        </div>
     </div>
    
  
        <div class="table">
          <div class="Datos">
            <h3>RFC:</h3>
            <p>Cava011024689</p>
          </div>
  
          
        <div class="btnMove">
            <button class="button-3">Modificar</button>
        </div>
     </div>
  
       
  
  
      <div class="table">
        <div class="Datos">
          <h3>Correo electrónico:</h3>
          <p>josecarrival1@gmail.com
          </p>
        </div>
  
  
        <div class="btnMove">
            <button class="button-3">Modificar</button>
        </div>
      </div>
  
      <div class="table">
        <div class="Datos">
          <h3>Contraseña:</h3>
          <p>**</p>
        </div>
  
        
        <div class="btnMove">
            <button class="button-3">Modificar</button>
        </div>
     </div>
  
        <div class="table">
          <div class="Datos">
            <h3>Celular:</h3>
            <p>+526624492538</p>
          </div>
  
          
        <div class="btnMove">
            <button class="button-3">Modificar</button>
        </div>
     </div>
  
          
          <div class="table">
            <div class="Datos">
              <h3>Direccion:</h3>
              <p>Cobre #57</p>
            </div>
  
            
        <div class="btnMove">
            <button class="button-3">Modificar</button>
        </div>
     </div>
  
  
          <div class="table">
            <div class="Datos">
              <h3>Codigo Postal:</h3>
              <p>83160</p>
            </div>
  
        <div class="btnMove">
          <button class="button-3">Modificar</button>
        </div>
      </div>
  
    </div>
  </div>